<header>
    <h2 style="padding-left: 50px;">Header</h2>
    <h3 style="padding-left: 50px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h3>
    <ul style=" padding: 20px 10px 20px 10px ; display: flex; justify-content: space-around; list-style: none;">
        <li><a href="https://www.google.com/">Google</a></li>
        <li><a href="https://www.youtube.com/">Youtube</a></li>
        <li><a href="https://www.gmail.com/">Gmail</a></li>
        <li><a href="https://www.google.com/intl/en_in/drive/">Drive</a></li>
        
    </ul>
</header>