<footer>
    <hr style="margin-top:30px">
    <h2 style="padding-left: 50px;">About Us</h2>
    <p style="padding-left: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi perspiciatis illo qui voluptatum 
        laboriosam numquam illum asperiores maiores, sequi unde doloribus ex eos 
        consectetur aliquid. Sed, adipisci cupiditate. Illo, voluptatibus.</p>

    <video width="400" controls style="padding-left: 50px;">
        <source src="assets/video/mov_bbb.mp4" type="video/mp4">
        Your browser does not support HTML video.
      </video>
</footer>
